html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0%;
}

.news
{
    max-width: 250px;
    margin: 1em auto;
    padding: .5em;
    text-align: center;
    border: .1em dotted black;
    box-sizing: border-box;
    background-color: #003C43;
    color:white
   
}
.disp
{
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}
.btn
{
    background: #131a21;
    color: white;
    border-radius: .3em;
    padding:.3em;
    text-decoration: none;
}